<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection setting -->
		<property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="connection.url">jdbc:sqlserver://LocalHost:1433;databaseName=Shop_My_Pham</property>
		<property name="dialect">org.hibernate.dialect.SQLServer2012Dialect</property>
		<property name="connection.username">sa</property>
		<property name="connection.password">123456</property>
		<property name="show_sql" >true</property>
		<property name="hbm2ddl.auto">create</property>
        
        <mapping class="com.shop.model.Product"/>
        <mapping class="com.shop.model.Brand"/>
        <mapping class="com.shop.model.Color"/>
        <mapping class="com.shop.model.ProductCategory"/>
        <mapping class="com.shop.model.Customer"/>
        <mapping class="com.shop.model.Order"/>
        <mapping class="com.shop.model.OrderStatus"/>
        <mapping class="com.shop.model.OrderItems"/>
        <mapping class="com.shop.model.Payment"/>
        <mapping class="com.shop.model.Staff"/>
    </session-factory>
</hibernate-configuration>
