
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" />
	</form>
	<table>
		<thead>
			<tr>
				<td>id</td>
				<td>Product Name</td>
				<td>Origin</td>
				<td>Price</td>
				<td>Description</td>
				<td>Units in Stock</td>
				<td>Weight</td>
			</tr>
		</thead>
		<tbody>

			<tr th:each="product : ${allProduct }">
				<td th:text="${product.id }">id</td>
				<td th:text="${product.productName }">Product Name</td>
				<td th:text="${product.origin }">Origin</td>
				<td th:text="${product.price }">Price</td>
				<td th:text="${product.description }">Description</td>
				<td th:text="${product.unitsInStock }">Units in Stock</td>
				<td th:text="${product.weight }">Weight</td>

			</tr>

		</tbody>
	</table>
</body>
</html>